# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


C++Ver/src/Mackiloha-GUI
C++Ver/src/buildnrun.sh
C++Ver/src/arkhelper
C++Ver/src/dtab
C++Ver/src/superfreq
C++Ver/src/p9songtool

Python Rewrite/arkhelper
Python Rewrite/dtab
Python Rewrite/superfreq
Python Rewrite/p9songtool
